body {
  margin: 10px 20px;
  text-align: center;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
 
h1, h2, h3, h4, h5 {
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  background-color: #5CACEE;
  color: white;
  font-size: 1.1em;
  font-weight: normal;
  padding: 0.2em 0.4em;
}

#full_name {
  font-size: x-large;
  font-weight: bold;
  color: #0099FF;
}

#position {
  font-size: x-large;
  color: #666600;
}
 
#header, #content, #footer {
  margin: 0 auto;
  overflow: auto;
  text-align: left;
  width: 1100px;
}
 
#header {
  -moz-border-radius-topleft: 0.6em;
  -moz-border-radius-topright: 0.6em;
  -webkit-border-top-left-radius: 0.6em;
  -webkit-border-top-right-radius: 0.6em;
  background-color: #F0F0F0;
  font-family: arial, sans-serif;
  padding-left: 0.5em;
  width: 1093px;
}

#content {
  margin-bottom: 0.5em;
}

#footer {
  border-top: 1px solid #9FAFB7;
  padding-top: 0.5em;
}

#left-column {
  float: left;
  width: 30%;
  text-align: left;
}
 
#left-column div.skill-bar ul {
  padding-left: 0;
}

#main {
  float: right;
  margin-bottom: 1em;
  text-align: left;
  width: 68%;
}

.portfolio {
  border-bottom: 1px solid #9FAFB7;
  overflow: auto;
  padding: 0.7em 0;
}

div.thumbnail {
  float: left;
  border: 1px solid #9FAFB7;
}
 
div.details {
  float: left;
  margin-right: 0;
  padding-right: 0;
  width: 79%;
}
 
div.details ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em;
}

div.details ul li span {
  font-weight: bold;
}
 
#outside-links {
  float: left;
}
 
a {
  text-decoration: none;
  font-weight: bold;
}
 
a:link, a:visited {
  color: #0077CC;
}
 
a:hover {
  text-decoration: underline;
  color: #5CACEE;
}
 
#icons {
  float: right;
}

#icons span {
  color: #A0A0A0;
  font-size: 11px;
}
 
ul li {
  list-style: none;
}

ul#code-snippets {
  padding-left: 1.2em;
}

ul#code-snippets li {
  list-style: circle;
}

table {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #F8F8F8;
  border: 1px solid #000;
  padding: 0 0.5em;
}

table td.duration {
  font-size: 0.9em;
  font-weight: bold;
}

table td.pos {
  text-align: right;
  font-style: oblique;
}

img {
  border: none;
}
