body {
    margin: 10px 20px;
    text-align: center;
    /*font: 85% "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;*/
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 90%;
}
 
h1, h2, h3, h4, h5 {
    font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 115%;
    font-weight: normal;
    color: white;
    background-color: #5CACEE;
    padding: 3px 7px;
}
 
#main {
    width: 1100px;
    margin: 0px auto;
    text-align: left;
}
 
#header {
    background-color: #F0F0F0;
    height: 40px;
    margin-bottom: 10px;
}
 
#left-column {
    float: left;
    width: 30%;
    height: 500px;
    text-align: left;
}
 
#left-column div.skill-bar ul {
    padding-left: 0px;
}

#content {
    float: left;
    margin-left: 2%;
    text-align: left;
    width: 68%;
    height: 650px;
}

div.thumbnail {
    float: left;
}
 
div.details {
    float: left;
    margin-right: 0;
    padding-right: 0;
    width: 79%;
}
 
div.details ul li span {
    font-weight: bold;
}
 
#footer {
}
 
#outside-links {
    float: left;
}
 
a {
    text-decoration: none;
}
 
a:link, a:visited {
    color: #A0A0A0;
}
 
a:hover {
    text-decoration: underline;
    color: #5CACEE;
}
 
#icons {
    float: right;
}

#icons span {
    color: #A0A0A0;
    font-size: 11px;
}
 
ul li {
    list-style: none;
}

/*
a { 
  cursor: pointer; 
  text-decoration: none; 
} 
*/

.background_popup {
  display: none; 
  position: fixed;
  height: 100%; 
  width: 100%; 
  top: 0; 
  left: 0;
  background: #000000; 
  border: 1px solid #cecece; 
  z-index: 1; 
}

.popup_image {
  display: none;
  background: #FFFFFF; 
  border: 2px solid #cecece; 
  z-index: 2;
  padding: 2px;
  margin: 0 60px;
} 

.popup_image_close {
  font-size: 70px; 
  line-height: 10px; 
  right: -36px; 
  top: -20px; 
  position: absolute; 
  color: #6495ED; 
  font-weight: 700; 
  display: block;
} 

table {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 1px solid #000;
  padding: 0 10px;
  background: #F8F8F8;
}

table td.duration {
  font-size: 13px;
  font-weight: bold;
  padding-right: 20px;
}

table td.pos {
  text-align: right;
  font-style: oblique;
}

#full_name {
  font-size: x-large;
  font-weight: bold;
  color: #0099FF;
}

#position {
  font-size: xx-large;
  color: #666600;
}
