  <div id="outside-links">
    <a href="http://thierrylam.blogspot.com">Blog</a> |
    <a href="mailto:thierry.apps@gmail.com">Contact</a> |
    <a href="http://github.com/tlam">Github</a> |
    <a href="http://www.linkedin.com/in/thierrylam">Linkedin</a> |
    <a href="http://twitter.com/ThierryLam">Twitter</a> |
    <a href="http://sites.google.com/site/lamthierry">Wiki</a>
  </div>
  <div id="icons">
    <span>&copy; {{ today|date:"Y" }} Thierry Lam</span>
    <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
    <a href="http://code.google.com/appengine/"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" /></a> 
  </div>
