{% extends "base.html" %}

{% block content %}
  {% include "portfolio.html" %}

  <div id="greet">Bonjour,</div>

  My name is <span id="full_name">Thierry Lam</span>
  <div id="position">Web Developer</div>

  <h3>Active Skills</h3>
  <ul id="active_skills">
  {% for skill in active_skills %}
    <li>
      {{ skill }} - <span class="skill_xp">{{ skill.current_xp|timesince }}</span>
    </li>
  {% endfor %}
  </ul>

  <h3>Other Skills</h3> 
  <ul id="inactive_skills">
  {% for skill in inactive_skills %}
    <li>{{ skill }} - {{ skill.level }} {{ skill.level_type }}{{ skill.level|pluralize }}</li>
  {% endfor %}
  </ul>

  <!--div id="python">
    <img src="/media/img/python.gif" />
  </div>

  <div id="jquery">
    <img src="/media/img/jquery.gif" />
  </div>

  <div id="w3css">
    <img src="/media/img/w3css.png" />
  </div>

  <div id="git">
    <img src="/media/img/git.png" />
  </div-->

  <ul id="logos">
    <li><img src="/media/img/python.gif" /></li>
    <li><img src="/media/img/jquery.gif" /></li>
    <li><img src="/media/img/php.png" /></li>
    <li><img src="/media/img/mysql.gif" /></li>
    <li><img src="/media/img/w3css.png" /></li>
    <li><img src="/media/img/git.png" /></li>
  </ul>

  <div class="clear_both"></div><hr />
  Currently running under Django {{ django_ver }} <br />
{% endblock %}
