{% extends "base.html" %}
{% block content %}
  <div id="left-column">
    <h2>Profile</h2>
      Bonjour, my name is Thierry Lam, <strong>Web Developer</strong> with <strong>{{ active_date|timesince }}</strong> of development experience.  I specialize in making applications functional.
      <br />

      <p>
          <script src="http://stackoverflow.com/users/flair/117642.js?theme=default" type="text/javascript"></script>
      </p>

      <fieldset>
      <legend><em>Experience:</em></legend>

      <table>
        <tr>
          <td class="duration">Feb 2009 - present</td><td class="pos">Web Developer</td>
        </tr>
        <tr>
          <td class="duration">Nov 2006 - Jan 2009</td><td class="pos">Software Infrastructure Developer</td>
        </tr>
        <tr>
          <td class="duration">Feb 2005 - Nov 2006</td><td class="pos">Software Developer</td>
        </tr>
      </table>
      </fieldset>

    <h2>Active Skills</h2>
    <div class="skill-bar">
      <ul>
      {% for skill in active_skills %}
        <li>
          {{ skill }} - <span class="skill_xp">{{ skill.current_xp|timesince }}</span>
        </li>
      {% endfor %}
      </ul>
    </div>

    <h2>Code Snippets</h2>
    <ul id="code-snippets">
    {% for entry in entries %}
      <li><a href="{{ entry.link }}">{{ entry.title }}</a> - {{ entry.date|date:"F d, Y" }}</li>
    {% endfor %}
    </ul>
  </div>
 
  <div id="main">
    <h2>Portfolio</h2>
 
    {% for portfolio in portfolios %}
      <div class="portfolio">
        <div class="thumbnail">
          <img src="/media/img/{{ portfolio.thumbnail }}" alt="{{ portfolio.title }}" longdesc="/media/img/{{ portfolio.image }}" />
        </div>
        <div class="details">
          <ul>
            <li><span>Site:</span> <a href="{{ portfolio.url }}">{{ portfolio.title }}</a></li>
            <li><span>Implementation:</span> {{ portfolio.implementation }}</li>
            <li><span>Done:</span> {{ portfolio.accomplishment }}</li>
            <li><span>Completed:</span> {{ portfolio.completed|date:"F Y" }}</li>
            {% if portfolio.source %}
            <li><a href="{{ portfolio.source }}" target="_blank">View Source</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
