  <div id="right_col">
    <h3>Professional Work</h3>

    <div class="my_work">
      <a><img src="/media/img/hype_banner.png" width="400" height="33" alt="FS Hype"></a>
      <div class="popup_image">
        <a class="popup_image_close">x</a>
        <img src="/media/img/hype_large.png" width="568" height="898" />
      </div>
      <div class="background_popup"></div>
      <p class="label"><strong><a href="http://www.fabuloussavings.com/hype/">FS Hype</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;[Feb 09 - Jun 09]</p> 
      <span>More Info [+]</span>
      <div>
        <ul>
          <li>Backend development with PHP/MySQL</li>
        </ul>
      </div>
      <hr />
    </div>

    <div class="my_work">
      <a><img src="/media/img/cares_banner.png" width="400" height="51" alt="FS Cares"></a>
      <div class="popup_image">
        <a class="popup_image_close">x</a>
        <img src="/media/img/cares_large.png" width="758" height="909" />
      </div>
      <div class="background_popup"></div>
      <p class="label"><strong><a href="http://www.fabuloussavings.com/cares/">FS Cares</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;[Apr 09]</p> 
      <span>More Info [+]</span>
      <div>
      Backend development with PHP/MySQL
      </div>
      <hr />
    </div>

    <div class="clear_both"></div>

    <h3>Personal Projects</h3>

    <div class="my_work">
      <p class="label"><strong><a href="/">You are looking at it</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;[May 09 - present]</p>       
      <span>More Info [+]</span>
      <div>
      Django, Google App Engine
      </div>
      <hr />
    </div>

    <div class="my_work">
      <a><img src="/media/img/riptunes.png" width="400" height="243" alt="RipTunes"></a>
      <div class="popup_image">
        <a class="popup_image_close">x</a>
        <img src="/media/img/riptunes.png" width="868" height="527" />
      </div>
      <div class="background_popup"></div>
      <p class="label"><strong><a href="http://www.fabuloussavings.com/hype/">RipTunes</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;[2008]</p>
      <span>More Info [+]</span>
      <div>
        Python, PyQt, Mutagen Library, show link to source code
      </div>
      <hr />
    </div>

  </div>
